<div class="row form-group">
  <div class="col-lg-3">
     <div class="figure figure-img">
        <a href="http://google.com">
          <img src="http://i3.mifile.cn/a4/T1YoZQByYT1RXrhCrK.jpg" width="160" height="160">
        </a>
      </div>
      <h3 class="title">
        <a href="http://www.mi.com/scale" target="_blank">Cisco Router</a>
      </h3>
      <p class="desc">A high quality product from Cisco</p>
      <p class="price">
        <span class="num">99</span>VND
      </p>
  </div>  
</div> <!-- /.row -->


<div class="span16">
  <ul class="brick-list clearfix">
    <li class="brick-item brick-item-m brick-item-m-2">
      <div class="figure figure-img">
        <a href="http://google.com">
          <img src="http://i3.mifile.cn/a4/T1YoZQByYT1RXrhCrK.jpg" width="160" height="160">
        </a>
      </div>
      <h3 class="title">
        <a href="http://www.mi.com/scale" target="_blank">Cisco Router</a>
      </h3>
      <p class="desc">A high quality product from Cisco</p>
      <p class="price">
        <span class="num">99</span>VND
      </p>
    </li>

    <li class="brick-item brick-item-m brick-item-m-2">
      <div class="figure figure-img">
        <a href="http://google.com">
          <img src="http://i3.mifile.cn/a4/T1YoZQByYT1RXrhCrK.jpg" width="160" height="160">
        </a>
      </div>
      <h3 class="title">
        <a href="http://www.mi.com/scale" target="_blank">Cisco Router</a>
      </h3>
      <p class="desc">A high quality product from Cisco</p>
      <p class="price">
        <span class="num">99</span>VND
      </p>
    </li>
    
  </ul>
</div>